{% extends 'account/base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
<div class="signin-page">
  <div></div>
  <div class="container">
    <div class="card account-card">
      <div class="card-header">
        <h2 class="card-title">Sign In</h2>
        <p class="card-subtitle">with your Playcenter account</p>
      </div>
      <div class="card-body">
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <form class="needs-validation" novalidate method="post" action="/account/signin/">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-floating">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required />
                <label for="email">Email</label>
                <div class="invalid-feedback">
                  Please enter a valid email.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Password" id="password"
                  required />
                <label for="password">Password</label>
                <div class="invalid-feedback">
                  Please enter a valid password.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="remember" id="remember">
              <label class="form-check-label" for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 mb-3">
              <a href="/account/forgotpassword" class="btn btn-link"
                style="display:block; width:auto; float:left;">Forgot
                Password?</a>
            </div>
            <button class="btn btn-primary" type="submit" style="display:block; width:auto; float:right;">Sign
              In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div></div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock %}