<!-- Reset Password HTML Email Template -->

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .row {
        margin: 0;
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }

    .header {
        background-color: #fff;
        padding: 20px 0;
    }

    .header .logo {
        display: block;
        text-align: center;
    }

    .header .logo img {
        max-width: 100%;
    }

    .content {
        background-color: #fff;
        padding: 20px 0;
    }

    .content h1 {
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .content p {
        text-align: center;
        font-size: 16px;
        margin: 0;
    }

    .footer {
        background-color: #fff;
        padding: 20px 0;
    }

    .footer p {
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
</style>


<!-- Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-inner">
                    <h1>{{ email_title }}</h1>
                    <p>{{ email_content }}</p>
                </div>

                <div class="content-inner">
                    <p>
                        <a href="{{ reset_link }}"
                            style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Reset
                            Password</a>
                    </p>
                </div>

                <div class="content-inner">
                    <p>
                        If you did not request a password reset, please ignore this email or reply to let us know. This
                        password reset is only valid for the next 24 hours.
                    </p>
                </div>

                <div class="content-inner">
                    <p>
                        Thanks,<br />
                        {{ site_name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>